*~
FrontISTR
GCC_MPICH
GCC_OpenMPI
INTEL_IMPI
INTEL_MPICH
INTEL_OpenMPI
MUMPS_5.[1-3].[1-9].tar.gz
MUMPS_5.[1-3].[1-9]
OpenBLAS-0.[23].[0-9]*.tar.gz
OpenBLAS-0.[23].[0-9]*
ParMetis-3.2.0.tar.gz
ParMetis-3.2.0
REVOCAP_Refiner-1.1.04.tar.gz
REVOCAP_Refiner-1.1.04
Trilinos-trilinos-release-12-[0-9]*-[0-9]*
atlas3.10.3.tar.bz2
cmake-3.[0-9]*.[0-9].tar.gz
cmake-3.[0-9]*.[0-9]
env2-code
lapack-3.7.0.tgz
metis-4.0.3.tar.gz
metis-4.0.3
metis-5.1.0.tar.gz
metis-5.1.0
mpich-3.*.tar.gz
mpich-3.*
openmpi-2.1.0.tar.bz2
openmpi-2.1.0
parmetis-4.0.3.tar.gz
parmetis-4.0.3
scalapack-2.[01].[0-9].tgz
scalapack-2.[01].[0-9]
scotch_6.0.[0-9]*.tar.gz
scotch_6.0.[0-9]*
trilinos-12.[0-9]*.[0-9]-Source.tar.bz2
trilinos-12.[0-9]*.[0-9]-Source
trilinos-release-12-[0-9]*-[0-9].tar.gz
typescript

# bashrc.template
